


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}

body {
	background: #2196F3;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 100%;
	/* max-width: 1200px; */
	min-height: 1000px;
	background: #fff;
	/* margin: 50px; */
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
	position: relative;
	background: #003147;
	padding: 25px;        /* 40px */
}

.profileText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profileText .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profileText h2 {
	color: #fff;
	font-size: 1.5vw;
	margin-top: 20px;
	/* text-transform: uppercase; */
	text-align: center;
	/*font-weight: 600;*/
	line-height: 1.4em;
}

.profileText h2 span {
	/* font-size: 0.8em; */
	/*font-weight: 300;*/
}

.contactInfo {
	padding-top: 40px;

}

.title {
	color: #fff;
	text-decoration: uppercase;
	/*font-weight: 600;*/
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.star {
	/* font-size: 2vw; */
}

.codechef {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2vw;
}

.contactInfo ul {
	position: relative;	
}

.contactInfo ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.contactInfo ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4;
}

.contactInfo ul li span {
	color: #fff;
	/*font-weight: 300;*/
}

.contactInfo .education li {
	margin-bottom: 15px;
}

.contactInfo .education h5 {
	color: #03a9f4;
	/*font-weight: 500;*/
}

.contactInfo .education h4:nth-child(2) {
	color: #fff;
	/*font-weight: 500;*/
}

.contactInfo .education h4 {
	color: #fff;
	/*font-weight: 300;*/
}

.contactInfo .language .percent {
	position: relative;
	width: 100%;
	height: 6px;
	background: red;
	display: block;
	margin-top: 5px;
	width: 100%;
    height: 25px;
    border-style: solid;
    border-color: #03a9f4;
    background-color: #03a9f4;
}

.contactInfo .language .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}








.container .right_Side {
	position: relative;
	background: #fff;
	padding: 40px;
	
}

.about {
	/*margin-bottom: 20px;*/
	margin-bottom: 50px;
}

.about:last-child {
	margin-bottom: 0;
}

.title2 {
	color: #003147;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

p {
	color: #333;
}

.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.about .box .year_company {
	min-width: 220px;
}

.about .box .year_company h5 {
	text-decoration: uppercase;
	color: #000000;
	/*color: #848c90;*/
	/*font-weight: 600;*/
}

.about .box .text h5 {
	text-transform: uppercase;
	/*color: #2a7da2;*/
	color: #c10000;
	font-size: 16px;
}

.skills .box {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 170px 1fr;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.skills .box h4 {
	text-decoration: uppercase;
	/*font-weight: 500;*/
}

.skills .box h4 .percent {
	position: relative;
	width: 100%;
	height: 10px;
	background: #f0f0f0;
}

.skills .box .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}


.interest ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

}

.interest ul li {
	list-style: none;
	color: #333;
	/*font-weight: 500;*/
	margin-bottom: 10px 0;
}


.interest ul li .fa {
	color: #03a9f4;
	font-size: 18px;
	width: 20px;
}

@media (max-width: 1000px) {
	body {
		font-size: 3vw;
	}
	.container {
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}
	.interest ul {
		grid-template-columns: repeat(2, 1fr);
	}
	progress {
		left: 4vw;
		position: relative;
	}
	.hh4 {
		font-size: 1.5vw;
	}
	.hh5 {
		font-size: 1vw;
	}
	.hh6 {
		font-size: 1.2vw;
	}
	.san600 {
		left: 220px !important;
	};
	.about .box .year_company {
		min-width: 300px !important;
	}
	.text h5 {
		font-size: 2.5vw !important;
	}

}


@media (max-width: 600px) {
	.about .box {
		flex-direction: column;
	}
	.about .box .year_company {
		min-width: 300px !important;
		margin-bottom: 5px;
	}
	.interest ul {
		grid-template-columns: repeat(1, 1fr);
	}
	.skills .box {
		grid-template-columns: repeat(1, 1fr);
	}
}

.san400 {
	margin-bottom: 100px;
	
}





































.san100 {
	margin-top: 20px;
}
.san800 {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
}
#colorstrip{
    width: 100%;
    height: 2px;
    border-style: solid;
    border-color: #03a9f4;
    background-color: #03a9f4;
}
.text {
	display: inline-block;
	white-space: nowrap;
}




/*




progress {
  width: 40%;
  display: block; /* default: inline-block */
 /* margin: 2em auto;
  padding: 3px;
  border: 0 none;
  background: #444;
  border-radius: 14px;
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: orange;

}
/* webkit */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 12px;
  background: orange;
} 
*/

/*progress[value] {
  /* Reset the default appearance */
/*   -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
  color: blue;
}
*/



progress {
  border: none;
  width: 200px;
  height: 14px;
  background: lightblue;
  margin-bottom: 1px;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightblue;
}

progress::-webkit-progress-value {
  background: #03a9f4;
}

progress::-webkit-progress-bar {
  background: lightblue;
}

.san600 {
	width: 400px;
	height: 17px;
	white-space: nowrap;
	margin-bottom: 1px;
	position: relative;
	left: 50px;
}
.san750 {
	margin-bottom: 20px;
	position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.san9050 {
	display: inline;
	white-space: nowrap;

}












progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
